@{
    ViewBag.Title = "Index";
}

<h2>Welcome</h2>
<p>Choose one:</p>
<ul>
    <li>@Html.ActionLink("Create Donor","CreateDonor")</li>
    <li>@Html.ActionLink("Compose mail", "ComposeMail")</li>
</ul>